.search-bar {
  input {
    background-color: #000000;
    outline: none;
    border: none;
    border-radius: 25px;
    padding: 1em;
    padding-right: 5em;
    font-size: large;
    margin-top: 2em;
    caret-color: white;
    color: white;
  }

  img {
    width: 2em;
    color: gold;
    position: relative;
    right: 50px;
    top: 8px;
    background-color: #000000;
  }
}
